### 前準備

In [1]:
#{コード3.1 3章の準備}
import pandas as pd
import numpy as np 
import os 
from glob import glob

### カラム操作

In [2]:
# {コード3.4 3.2節の準備}
df_col1 = pd.read_csv('./in/1_company_data.csv',dtype = {'所在地_市区郡コード':'object'}) 

print('df_col1'); display(df_col1.head())
print(len(df_col1))

df_col1

     企業管理コード  資本金_千円 従業員数 所在地_市区郡コード 所在地_都道府県名   創業年  創業月   設立年  設立月
0  A01132330     913  378      34203       広島県  1900    3  1987    7
1  A01132330     913  378      34203       広島県  1900    3  1987    7
2  A01132330     913  378      34203       広島県  1900    3  1987    7
3  A03112202     970   88      40137       福岡県  1900    3  1987    7
4  A03112202     970   88      40137       福岡県  1900    3  1987    7

1050

In [3]:
# {コード3.5 必要なカラムを保持}
df_col2=df_col1[['企業管理コード','従業員数','所在地_市区郡コード','所在地_都道府県名']]    # カラムの選択

print('df_col2'); display(df_col2.head())
print(len(df_col2))

df_col2

     企業管理コード 従業員数 所在地_市区郡コード 所在地_都道府県名
0  A01132330  378      34203       広島県
1  A01132330  378      34203       広島県
2  A01132330  378      34203       広島県
3  A03112202   88      40137       福岡県
4  A03112202   88      40137       福岡県

1050

In [4]:
# {コード3.6 不要なカラムを除去}
df_col2_2 = df_col1.drop(columns=['資本金_千円','創業年','創業月','設立年','設立月'])
df_col2_2

        企業管理コード 従業員数 所在地_市区郡コード 所在地_都道府県名
0     A01132330  378      34203       広島県
1     A01132330  378      34203       広島県
2     A01132330  378      34203       広島県
3     A03112202   88      40137       福岡県
4     A03112202   88      40137       福岡県
5     A03124920  148      24207       三重県
6     A04113912   72      40134       福岡県
7     A04116769  114      13103       東京都
8     A04122570  103      27127       大阪府
9     A04122803   53      13107       東京都
10    A04122803   53      13107       東京都
11    A04122913    -      45201       宮崎県
12    A05122064  130      24212       三重県
13    A05128797   28      28201       兵庫県
14    A06114819  233      22131       静岡県
15    A06122921   67      42201       長崎県
16    A07123469  189      02400       青森県
17    A08010716    -      22101       静岡県
18    A08018618    4      22214       静岡県
19    A08042570  296      22101       静岡県
20    A08043886  146      10201       群馬県
21    A08049725   82      10201       群馬県
22    A08078487  174      10201       群馬県
23    A08081571    -      22101       静岡県
24    A08086569  159      10204       群馬県
25    A08100410  245      41203       佐賀県
26    A08104405    -      34207       広島県
27    A08105668    -      22212       静岡県
28    A08125753   23      02202       青森県
29    A08126580  204      40203       福岡県
...         ...  ...        ...       ...
1020  A98793237   79      26103       京都府
1021  A98801100  103      04600       宮城県
1022  A98813106   27      40136       福岡県
1023  A98817640  289      26110       京都府
1024  A98819190   63      23101       愛知県
1025  A98823023   41      04213       宮城県
1026  A98831048  228      40205       福岡県
1027  A98836874  162      14118      神奈川県
1028  A98841380  111      40133       福岡県
1029  A98848612   94      34106       広島県
1030  A98848930   49      14118      神奈川県
1031  A98849452  201      40134       福岡県
1032  A98849526  141      40131       福岡県
1033  A98851451   63      04202       宮城県
1034  A98853626    -      26110       京都府
1035  A98857425  179      34212       広島県
1036  A98866311  106      26201       京都府
1037  A98880308   15      26109       京都府
1038  A98880720    -      13111       東京都
1039  A98883798  202      14212      神奈川県
1040  A98887259    -      26210       京都府
1041  A98922744   71      14380      神奈川県
1042  A98926771    1      34212       広島県
1043  A98931885   86      14107      神奈川県
1044  A98950114   30      40132       福岡県
1045  A98996279   60      40137       福岡県
1046  A99103314  152      40106       福岡県
1047  A99123699   79      43400       熊本県
1048  A99127638  123      45201       宮崎県
1049  A08125753   23      02202       青森県

[1050 rows x 4 columns]

In [5]:
#{コード3.7 都道府県名カラムの作成1}
df_col3_1=df_col2.assign(所在地_都道府県名2=df_col2['所在地_都道府県名'])

print('df_col3_1'); display(df_col3_1.head())
print(len(df_col3_1))

df_col3_1

     企業管理コード 従業員数 所在地_市区郡コード 所在地_都道府県名 所在地_都道府県名2
0  A01132330  378      34203       広島県        広島県
1  A01132330  378      34203       広島県        広島県
2  A01132330  378      34203       広島県        広島県
3  A03112202   88      40137       福岡県        福岡県
4  A03112202   88      40137       福岡県        福岡県

1050

In [6]:
#{コード3.8 都道府県名カラムの作成2}
df_col3_2=df_col2.copy()

df_col3_2['所在地_都道府県名2']=df_col3_2['所在地_都道府県名']

print('df_col3_2'); display(df_col3_2.head())
print(len(df_col3_2))

df_col3_2

     企業管理コード 従業員数 所在地_市区郡コード 所在地_都道府県名 所在地_都道府県名2
0  A01132330  378      34203       広島県        広島県
1  A01132330  378      34203       広島県        広島県
2  A01132330  378      34203       広島県        広島県
3  A03112202   88      40137       福岡県        福岡県
4  A03112202   88      40137       福岡県        福岡県

1050

In [7]:
# {コード3.9 カラム名の変更}
df_col4=df_col3_1.copy()

df_col4.rename(columns={'従業員数':'従業員数(人)','所在地_市区郡コード':'所在地_市区郡CD'},inplace=True)

print('df_col4'); display(df_col4.head())
print(len(df_col4))

df_col4

     企業管理コード 従業員数(人) 所在地_市区郡CD 所在地_都道府県名 所在地_都道府県名2
0  A01132330     378     34203       広島県        広島県
1  A01132330     378     34203       広島県        広島県
2  A01132330     378     34203       広島県        広島県
3  A03112202      88     40137       福岡県        福岡県
4  A03112202      88     40137       福岡県        福岡県

1050

In [8]:
# {コード3.10 カラム属性の確認}
df_col4['所在地_市区郡CD'].dtype
# 0：Pythonオブジェクト型

dtype('O')

In [9]:
# {コード3.11 文字列置換とカラムの属性変更}
df_col5=df_col4.copy()

df_col5['所在地_市区郡CD_int'] = df_col5['所在地_市区郡CD'].astype(np.int64)

df_col5['所在地_市区郡CD_int'].dtype

dtype('int64')